.botoes, .btn {
   display: flex;
}

span {
   margin-right: 5px;
}

.botoes_grande {
   width: 150px;
   height: 50px;
   justify-content: center;
   align-items: center;

}

.botoes_pequeno {
   height: 50px;
   justify-content: center;
   align-items: center;
}

.botao_central {
   background-color: rgb(1, 111, 255);
   color: white;
}

.botão_pdv {

}

.botao_usuario {
   background-color: cadetblue;
   color: white;
}

.botao_produto {
   background-color: rgb(30, 30, 255);
   color: white;
}

.botao_estoque {
   background-color: rgb(130, 42, 173);
   color: white;
}
