<div class="container">
   <div class="row">
      <nav class="nav navbar">
         <div class="botoes">
            <a href="#" class="btn botao_central botoes_grande">
               <span class="material-symbols-outlined">
                  stacked_bar_chart
               </span>
               Central
            </a>
         </div>
         <div class="botoes">
            <a href="#" class="btn btn-danger botao_pdv botoes_pequeno">
               <span class="material-symbols-outlined">
                  add_shopping_cart
               </span>
            </a>
         </div>
         <div class="botoes">
            <a href="#" class="btn botao_usuario botoes_grande">
               <span class="material-symbols-outlined"> group_add </span>
               Usuário</a
            >
         </div>
         <div class="botoes botao_pessoa">
            <a [routerLink]="['/dados-pessoa']"  class="btn btn-success botoes_grande">
               <span class="material-symbols-outlined"> group </span>
               Pessoas</a
            >
         </div>
         <div class="botoes">
            <a href="#" class="btn botao_produto botoes_grande">
               <span class="material-symbols-outlined"> unarchive </span>
               Produtos</a
            >
         </div>
         <div class="botoes">
            <a href="#" class="btn botao_estoque botoes_grande">
               <span class="material-symbols-outlined">
                  shopping_cart_checkout
               </span>
               Estoque</a>
         </div>
         <div class="botoes">
            <a href="#" class="btn botao_financeiro botoes_grande">
               <span class="material-symbols-outlined">
                  currency_exchange
               </span>
               Financeiro</a
            >
         </div>
         <div class="botoes ">
            <a href="#" class="btn botao_pagar botoes_pequeno">
               <span class="material-symbols-outlined">
                  account_balance_wallet
                  </span>
                </a>
         </div>
         <div class="botoes">
            <a href="#" class="btn botao_receber botoes_pequeno">
               <span class="material-symbols-outlined">
                  wallet
               </span>
                </a>
         </div>
      </nav>
   </div>

</div>

<hr>

<footer>
   <hr>
      <p>Empresa:</p>
</footer>


