<ul class="nav nav-tabs" id="myTab" role="tablist">
   <li class="nav-item" role="presentation" *ngFor="let item of Tabs; let i = index;">
     <button type="button"  (click)="NavigationTab(i)"   class="nav-link" id="btn_{{i}}" data-bs-toggle="tab" [attr.data-bs-target]="'#tab-'+ i"
       role="tab">
       {{item.Text}}
     </button>
   </li>
 </ul>

 <div class="tab-content" id="myTabContent">
   <div *ngFor="let item of Tabs; let i = index;"  class="tab-pane fade" id="tab-{{i}}" role="tabpanel">
     <app-principal [usuario]="usuario"  *ngIf="i == 0 " ></app-principal>
     <app-permissoes [usuario]='usuario'  *ngIf="i == 1" ></app-permissoes>
     <app-localizar  [usuario]='usuario' (newItem)="addItem($event)" *ngIf="i == 2" ></app-localizar>
   </div>
 </div>
