<form class="container-main" [formGroup]="form" (ngSubmit)="onSubmit(form)">
   <div class="box d-flex align-items-end">
      <div class="container">
         <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label col-form-label-sm text-end">Usuário</label>
            <div class="col-sm-9">
               <input type="text" class="form-control form-control-sm" formControlName="login">
            </div>
         </div>
         <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label col-form-label-sm text-end">Senha</label>
            <div class="col-sm-9">
               <input type="password" class="form-control form-control-sm" formControlName="password" autocomplete="on">
            </div>
         </div>

         <button type="submit" class="d-none"></button>
      </div>
   </div>
</form>
