<nav>
   <div class="nav nav-tabs" id="nav-tab" role="tablist">
     <button
       class="nav-link active"
       id="nav-pdv-tab"
       data-bs-toggle="tab"
       data-bs-target="#nav-pdv"
       type="button"
       role="tab"
       aria-controls="nav-pdv"
       aria-selected="true" >
       PDV
     </button>
     <button
       class="nav-link"
       id="nav-Retaguarda-tab"
       data-bs-toggle="tab"
       data-bs-target="#nav-Retaguarda"
       type="button"
       role="tab"
       aria-controls="nav-Retaguarda"
       aria-selected="false">
       Retaguarda
     </button>
   </div>
 </nav>
 <div class="tab-content" id="nav-tabContent">
   <div
     class="tab-pane fade show active p-2"
     id="nav-pdv"
     role="tabpanel"
     aria-labelledby="nav-pdv-tab">
     <div class="row m-1">
       <div class="col-6">
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.devolverProduto"
             #Comissao="ngModel"
             id="PermExcluirPedido"/>
           <label class="form-check-label" for="PermExcluirPedido">Permitir excluir item no pedido</label>
         </div>

         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.verQuantiaCaixa"
             #VerQuantiaCaixa="ngModel"
             id="PermVisuSaldoCaixa"/>
           <label class="form-check-label" for="PermVisuSaldoCaixa">Permitir visualizar saldo do caixa</label>
         </div>

         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_EstornarRecbto"
             #PDV_EstornarRecbto="ngModel"
             id="PermRealNotaDevo"/>
           <label class="form-check-label" for="PermRealNotaDevo">Permitir realizar nota de devolução</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_PermitirOutrasSaidas"
             #PDV_PermitirOutrasSaidas="ngModel"
             id="PermRelSaida"/>
           <label class="form-check-label" for="PermRelSaida">Permitir realizar outras saidas</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_CriarOrcamento"
             #PDV_CriarOrcamento="ngModel"
             id="PermRealOrc"/>
           <label class="form-check-label" for="PermRealOrc">Permitir realizar orçamento</label>
         </div>
       </div>
       <div class="col-6">
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_CancelarPedido"
             #PDV_CancelarPedido="ngModel"
             id="PermCancNota"/>
           <label class="form-check-label" for="PermCancNota">Permitir o cancelamento de nota/pedido</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_ModificarDescontoSistema"
             #PDV_ModificarDescontoSistema="ngModel"
             id="AltDescDadoSis"/>
           <label class="form-check-label" for="AltDescDadoSis">Alterar desconto dado pelo sistema</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="
               usuario.pDV_PermitirVendaClienteComTituloAtrasado"
             #PDV_PermitirVendaClienteComTituloAtrasado="ngModel"
             id="PermVendClientAtras"/>
           <label class="form-check-label" for="PermVendClientAtras">Permitir vender ao cliente com titulo atrasado</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_PermitirVendaClienteSemLimiteCredito"
             #PDV_PermitirVendaClienteSemLimiteCredito="ngModel"
             id="PermVendClintLimitCred"/>
           <label class="form-check-label" for="PermVendClintLimitCred">Permitir vender ao cliente SEM limite de crédito</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             [(ngModel)]="usuario.alteraProduto"
             #AlteraProduto="ngModel"
             class="form-check-input"
             id="PermVendProdEstNegative"/>
           <label class="form-check-label" for="PermVendProdEstNegative">Permitir vender produto com estoque negativo</label>
         </div>
       </div>
     </div>
   </div>
   <div
     class="tab-pane fade p-2"
     id="nav-Retaguarda"
     role="tabRetaguarda"
     aria-labelledby="nav-Retaguarda-tab">
     <div class="row">
       <div class="col-6">
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.cadUsuario"
             #CadUsuario="ngModel"
             id="PermCadManuUser"/>
           <label class="form-check-label" for="PermCadManuUser">Permitir cadastro/manutenção de usuários</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.movimentaEstoqueES"
             #MovimentaEstoqueES="ngModel"
             id="PermMovEsto"/>
           <label class="form-check-label" for="PermMovEsto">Permitir Movimentar Estoque</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.ret_AlteraTabPreco"
             #Ret_AlteraTabPreco="ngModel"
             id="PermAltTabPrec"/>
           <label class="form-check-label" for="PermAltTabPrec">Permitir Alterar tabela de preço</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.pDV_PermitirTransfProduto"
             #PDV_PermitirTransfProduto="ngModel"
             id="PermTrasfProd"/>
           <label class="form-check-label" for="PermTrasfProd">Permitir trasferencia de produtos</label>
         </div>
       </div>
       <div class="col-6">
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.ret_VerCusto"
             #Ret_VerCusto="ngModel"
             id="PermVisuCusProd"/>
           <label class="form-check-label" for="PermVisuCusProd">Permitir Visualizar custo do produto</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.acessaFinanceiro"
             #AcessaFinanceiro="ngModel"
             id="PermVisuFina"/>
           <label class="form-check-label" for="PermVisuFina">Permitir Visualizar Financeiro</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.alteraProduto"
             #AlteraProduto="ngModel"
             id="PermAltProd"/>
           <label class="form-check-label" for="PermAltProd">Permitir Alterar Produto</label>
         </div>
         <div class="mb-3 form-check">
           <input
             type="checkbox"
             class="form-check-input"
             [(ngModel)]="usuario.acessarRetaguarda"
             #AcessarRetaguarda="ngModel"
             id="PermAcessRetag"
           />
           <label class="form-check-label" for="PermAcessRetag">Permitir Acessar o Retaguarda</label>
         </div>
       </div>
     </div>
   </div>
 </div>
